<div class="blog-post">
        {% for post in posts %}
        <ul>
            <h2 class="blog-post-title"><a href="{{ url_for('home.post', id=post.id) }}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">Published on {{ post.timestamp }} by <a href="#">Shen</a></p>
            <p>
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </p>
            <div class="post-footer">
                <a href="{{ url_for('home.edit', id=post.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
            </div><br/><hr>
        </ul>
        {% endfor %}
    </div>