{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link href="static/css/blog.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="col-sm-10 blog-main">
    {% if current_user.can(Permission.ADMINISTER) %}
    <div class="blog-post">
        {{ wtf.quick_form(form) }}
    </div><hr>
    {% endif %}
    {% include 'home/_posts.html' %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}