{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Post{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="static/css/blog.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-sm-10 blog-main">
    {% include 'home/_posts.html' %}
    <h4 id="comments">Comments</h4>
    {% if current_user.can(Permission.COMMENT) %}
    <div class="comment-form">
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
    <ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-content">
            <div class="comment-date">{{ comment.timestamp }}</div>
            <div class="comment-author">{{ comment.author.username }}</div>
            <div class="comment-body">
                {{ comment.body }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}