{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}MYSITE - Post{% endblock %}



{% block page_content %}
<div>
    {% include 'blog/_posts.html' %}
    <h4 id="comments">Comments</h4>
    {% if current_user.can(Permission.COMMENT) %}
    <div class="comment-form">
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
    <ul class="comments">
    {% for comment in comments %}
    <li class="comment">
        <div class="comment-content">
            <div class="comment-date">Commented on {{ moment(comment.timestamp).format('LLL') }}
                By {{ comment.author.nickname }}
            </div><br>
            <div class="comment-body">
                {{ comment.body }}
            </div>
        </div>
    </li><hr>
    {% endfor %}
    </ul>
</div>
{% endblock %}

